html,body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.section {
    background-color: #fff;
    padding: 1.5rem 1.5rem;
}

.main-wrapper {
  margin-top: 10%;
}

.main-wrapper h1 {
  margin-bottom: 10%;
}

.main-wrapper .button {
  width: 100%;
}

.pos-login .text-input,
.pos-login .password-input {
  border-radius: 40px;
  font-size: 20px;
  padding-left: 15px;
  color: #95A5A6;
  margin-bottom: 1em;
}

.pos-login #user-input {
  padding-left: 112px;
}

.pos-login .error-message {

  color: red;

}

.pos-login #password-input {
  padding-left: 83px;
}


.pos-login .icon.user,
.pos-login .icon.password {
  margin: 5px 10px 0 0;
}

.pos-login .avatar img {
  border-radius: 100px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}

.pos-login .login {
  padding-top: 20px;
}

.pos-login .login button {
  border-radius: 40px;
  font-weight: bold;
}

.pos-login .hero-body .container {
  margin-top: -100px;
}

.pos-login .hero.is-dark .section {
  background-color: transparent;
}

.pos-login .login-wrapper {
  margin: -0.75rem;
  overflow-y: hidden;
}

.pos-login .hero-banner .title {
  display: inline-block;
  background-color: rgba(0,0,0, 0.6);
  padding: 5px;
}

.pos-main {
  height: 100%;
  width: 100%;
}

.pos-main .section {
  height: 100%;
  width: 100%;
}

.pos-main .columns {
  height: 100%;
}

.pos-main .columns .column1 .container {
  height: 100%;
}

.pos-main .columns .column .container .transactions-list {

  border: 1px solid #eee;
  max-height: 100%;
  height: 75%;
  overflow-y: scroll;
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  
}

.pos-main .columns .column .container .transactions-list tr:hover {
  background: initial;
}


.pos-main .columns .column .container .transactions-list .price {
  text-align: right;
}

.pos-main .columns .column3 .keypad .button {
  
  width: 100%;
  height: 80px;

}

.pos-main .columns .column3 .keypad .button.enter-button {
  height: 100%;
}

.pos-main .columns .column3 .keypad .button.checkout-button {
  height: 100%;
}

.total {

  position: absolute;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  height: 40px;

}

.total p {
  width: 50%;
  float: left;
}

.pos-main .columns .column .container .transactions-list tr.selected, .pos-main .columns .column .container .transactions-list tr.selected:hover {

  background: #eee;

}

.keypad .top-keys {

  height: 225px;

}

.keypad .bottom-keys {
  height: 75%;
}

.scrollable {

  overflow-y: auto;
  
}

.hidden {
  display: none;
}

/* receive */


#add-product-modal .modal-card {
  margin-top: 50px;
}

.pos-receive .quantity-label {
  margin-left: 24px;
}
.pos-receive .receive-submit-button {
  margin-left: 24px;  
}

.main-nav {
  border-bottom: 2px solid black;
  margin-bottom: 1.5em;
}

.admin .main-nav {
  margin-bottom: 0;
}
.main-nav img {
  border-radius: 100px;
  margin-right: 1em;
}


.pos-receive h1 {
  font-size: 1.2em;
  margin-left: 1em;
}

.pos-receive #received-items {

  margin-left: 1em;

}

.pagination {
  height: 28px;
  width: 70%;
  margin: auto;
}

.pagination a {
  color: #307bd8;
}

.pagination li {
  list-style: none;
}

.admin .pagination-list {

  margin-top: 0;
  margin-left: 0;
}
.pagination-list li {
  margin-top: 3px;
}

.admin .pagination .pagination-link.is-current {
  background-color: #307bd8;
  border-color: #307bd8;
}

.pagination-prev, .pagination-next {
  margin-top: 5px;
}


/* aside.css */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: 100%;
}
.button.is-success {
  background-color: #2EB398;
}

.aside {
  background-color: #232B2D;
}
.aside .uploader {
  background-color: #2EB398;
  height: 95px;
  margin:0 -10px;
  padding: 25px 30px;
}
.aside .uploader .button {
  background-color: transparent;
  border: 3px dashed #F6F7F7;
  padding: 20px 70px;
  color: #F6F7F7;
}
.aside .main {
  padding: 40px;
  color: #6F7B7E;
}
.aside .title {
  color: #6F7B7E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
.aside .main .item.active {
  color: #F6F7F7;
}
.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
}
.aside .main .name {
  font-size: 16px;
  font-weight: bold;
}
.content {
  display: block;
  background-color: #fff;
  padding: 40px 20px;
}
.nav.menu {
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  z-index: 1;
}
.nav.menu .nav-item .icon-btn {
  border: 3px solid #B7C6C9;
  border-radius: 90px;
  padding: 5px 7px;
  color: #B7C6C9;
}
.nav.menu .nav-item .icon-btn.thin {
  padding: 5px 8px;
}
.nav.menu .nav-item.is-active .icon-btn {
  color: #2EB398;
  border: 3px solid #2EB398;
}
.nav.menu .nav-item .icon-btn .fa {
  font-size: 20px;
  color: #B7C6C9;
}
.nav.menu .nav-item.is-active .icon-btn .fa {
  color: #2EB398;
}
.files {
  padding: 50px 0;
}
.file {
  display: block;
  padding: 20px;
}
a.file:not(.button) {
    border-bottom: none;
    border-radius: 4px;
}
.file:hover, .file.active, .file:active {
  background-color: #E4E9EB;
}
.file .image img {
  padding-bottom: 10px;
}
.file .name {
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 16px;
  color: #69707a;
}
.file .timestamp {
  font-weight: bold;
  font-size: 14px;
  color: #B9C2C4;
}

